.App {
  text-align: center;
}

#navigation {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px 0;
  background-color: #333;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  cursor: pointer;
  position: sticky;
}


#navigation a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  font-size: x-large;
  font-weight: 500;
  transition: all ease .5s;
}

#navigation a:hover {
  text-decoration: underline;
}

